<style>
    header {
        background: rgb(2, 7, 14);
       color: white;

    }
    nav{
        background: rgb(224, 240, 8);
        color: rgb(2, 7, 14);
    }
</style>
<header>
    <h1>Seller
  
    </h1>
  </header>
  <nav>
    <a [routerLink]="'add-items'">Add Items</a>&nbsp;
    <a [routerLink]="'view-items'">View Items</a>&nbsp;
    <a [routerLink]="'seller-view-profile'">View Profile History</a> &nbsp; 
    <a [routerLink]="'view-reports'">View Reports</a>&nbsp;
    <a [routerLink]="'edit-profile'">Edit Profile</a>           
        
  </nav>
  <router-outlet></router-outlet>
  