<!-- <div class="view">    
    <div class="container">
           <div class=" table">
            <div class="table-info">
         
               <tr>
                   <th>SellerId</th>
                   <th>Seller Username</th>
                   <th>CompanyName</th>
                   <th>Gstin</th>
                   <th>BriefAboutCompany</th>
               </tr>
               <tr >  
                    <td>{{Sid}}</td>
                    <td>{{Username}}</td>
                    <td>{{Companyname}}</td>
                    <td>{{Gstin}}</td>
                    <td>{{Briefaboutcompany}}</td>
                </div>
        
            </div>
         
    </div>
</div>    -->


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <!-- <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div> -->
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{SellerUsername}}</h4>

                        <p>
                            {{SellerEmailid}}
                            <i ></i>{{CompanyName}}
                            <br />
                            <i ></i><a href="{{Website}}"></a>
                            <br />
                            <i >{{SellerContactnumber}}</i></p>
                        <!-- Split button -->
                        <!-- <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul> 
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
