<div class="view">    
    <div class="container">
           <div class=" table">
            <div class="table-info">
         
               <tr>
                   <th>SellerId</th>
                   <th>Seller Username</th>
                   <th>CompanyName</th>
                   <th>Gstin</th>
                   <th>BriefAboutCompany</th>
               </tr>
               <tr >  
                    <td>{{Sid}}</td>
                    <td>{{Username}}</td>
                    <td>{{Companyname}}</td>
                    <td>{{Gstin}}</td>
                    <td>{{Briefaboutcompany}}</td>
                </div>
        
            </div>
         
    </div>
</div>     
<router-outlet></router-outlet>
