<html>
    <head>
        <script type="text/javascript">
            function preventBack() { window.history.forward(); }
            setTimeout("preventBack()", 0);
            window.onunload = function () { null };
        </script>
<style>
    header {
        background: rgb(2, 7, 14);
        color:white;
    }
    nav{
        background: rgb(187, 238, 5);
        height: 35px;
        color: rgb(2, 7, 14);
    }
</style>
</head>
<body><header>
    <h1>Buyer
  
    </h1>
  </header>
  <nav>
   
    <a [routerLink]="'buy-product'">Buy Product</a>&nbsp;
    <a [routerLink]="'buyer-view-profile'">View Profile</a>&nbsp;
    <a [routerLink]="'purchase-history'">View Purchase History</a> &nbsp;  
    
    <a [routerLink]="'view-cart'">ViewCart</a>   &nbsp;&nbsp; 
    <a [routerLink]="'search'">Search</a>    
   <input  style="float:right" type="button" (click)="login()"  value="Logout"/>   
     
  </nav>
  
</body>

  </html>
<router-outlet></router-outlet>
  
  