<div class="container">
  <div class="row">
    <!-- <div class="col-md-4" *ngFor="let item of list"> -->
    
        <div class="card" style="width:250px" >
           <img class="card-img-top" src="/assets/images/{{list.image}}" alt="Card image cap"> 
            <h5 class="card-title">{{list.itemName}}</h5>
            <div class="card-body">
             <!-- ItemId:{{item.id}}<br/>
              CategoryId:{{item.categoryId}}<br/>
              SubCategoryId:{{item.subcategoryid}}<br/> -->
              <!-- SellerId: {{item.sid}}<br/> -->
              ItemName:{{list.itemName}}
              Price: {{list.price}}<br/>
              Description:{{list.itemdescription}}<br/>
              Stock:{{list.stockNumber}}<br/>
              Remarks:{{list.remarks}} 
          </div>
       
          <div class="card-footer">
            <div class="text-center">
              
              <button class="btn btn-outline-info" (click)='BuyProduct()'>Proceed To Pay</button>
          </div>
          
          </div>
          
        </div>
        <br>
      <!-- </div> -->
    </div>
  </div>