<div class="jumborton">
    <div class="container">
      <form [formGroup]="EditProfileForm" (ngSubmit)="GetProfile()">
        <div class="form-group">
            <label>UserName</label>
            <input type="text" formControlName="UserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" />
            <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
            </div>
        </div>
        <br/>
        <!-- <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
            <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
            </div>
        </div><br/> -->
        <div class="form-group">
            <label>Email Id</label>
            <input type="Emailid" formControlName="Emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Emailid.errors }" />
            <div *ngIf="submitted && f.Emailid.errors" class="invalid-feedback">
                <div *ngIf="f.Emailid.errors.required">Email Id is required</div>
            </div>
        </div><br/>
        <div class="form-group">
            <label>Mobile number</label>
            <input type="number" formControlName="MobileNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.MobileNumber.errors }" />
            <div *ngIf="submitted && f.MobileNumber.errors" class="invalid-feedback">
                <div *ngIf="f.MobileNumber.errors.required">Mobile Number is required</div>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <button class="btn btn-primary mr-1" (click)="onSubmit()">Save changes</button>
            &nbsp;
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Submit</button>
        </div>
      </form>
    </div>
</div>
<router-outlet></router-outlet>