<!-- <div class="form-inline my-2 my-lg-0 offset-5">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"[(ngModel)]="itemname">
      <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="Search(itemname)">Search</button>
</div>
<br>
<br>
<div class="container">
  <div class="row offset-2">
    <div class="card-deck ">
        <div class="card text-center" *ngFor="let item of list" style="width: 18rem;" >
        <img class="card-img-top" src="/assets/images/{{item.image}}" alt="Card image cap"> 
            <h5 class="card-title">{{item.itemName}}</h5>
            <div class="card-body">
               ItemId:{{item.iid}}<br/>
              CategoryId:{{item.cid}}<br/>
              SubCategoryId:{{item.scid}}<br/>
              SellerId: {{item.sid}}<br/> -->
              <!-- Price: {{item.price}}<br/>
              Description:{{item.itemdescription}}<br/>
              Stock:{{item.stockNumber}}<br/>
              Remarks:{{item.remarks}} 
          </div>
          <div class="card-footer">
            <div class="text-center">
              <button class="btn btn-success mr-1" >Buy</button>
              <button class="btn btn-outline-info" >AddToCart</button>
          </div>
          </div>
        </div>
      </div>
    </div> --> 
    <div class="form-inline my-2 my-lg-0 offset-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"[(ngModel)]="itemName">
          <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="Search()">Search</button>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of list">
        
            <div class="card" style="width:250px" >
               <img class="card-img-top" src="/assets/images/{{item.image}}" alt="Card image cap"> 
                <h5 class="card-title">{{item.itemName}}</h5>
                <div class="card-body">
                 <!-- ItemId:{{item.id}}<br/>
                  CategoryId:{{item.categoryId}}<br/>
                  SubCategoryId:{{item.subcategoryid}}<br/> -->
                  <!-- SellerId: {{item.sid}}<br/> -->
                  ItemName:{{item.itemName}}
                  Price: {{item.price}}<br/>
                  Description:{{item.itemdescription}}<br/>
                  Stock:{{item.stockNumber}}<br/>
                  Remarks:{{item.remarks}} 
              </div>
           
              <div class="card-footer">
                <div class="text-center">
                  <button class="btn btn-success mr-1" (click)='Buy(item)'>Buy</button>
                  <button class="btn btn-outline-info" (click)='AddToCart(item)'>AddToCart</button>
              </div>
              
              </div>
              
            </div>
            <br>
          </div>
        </div>
      </div>