
<h1 class="grad">
    <img   class="img" src="assets/images/emart.png">
   </h1>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1 smooth-scroll list-unstyled">
                <li class="nav-item" id="home">
                    <a style="margin-left: 90px;" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link text-light"[routerLink]="['/admin-landing-page/add-category']" routerLinkActive="router-link-active"  asp-area="" asp-controller="Home">addcategory</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link text-light"[routerLink]="['/admin-landing-page/add-sub-category']" routerLinkActive="router-link-active"  asp-area="" asp-controller="Home">addsubcategory</a>
                </li>
                <!-- <li class="nav-item">
                    <a  class="nav-link text-light"[routerLink]="['admin-landing-page/view-category']" routerLinkActive="router-link-active"  asp-area="" asp-controller="Home">viewcategory</a>
                </li>

                <li class="nav-item">
                    <a  class="nav-link text-light"[routerLink]="['admin-landing-page/view-sub-category']" routerLinkActive="router-link-active"  asp-area="" asp-controller="Home">viewsubcategory</a>
                </li>
              <li class="nav-item">
                   <a class="nav-link text-light" routerLinkActive="router-link-active"  asp-area="" asp-controller="Home">MyReports</a>
              </li> -->
            </ul>
     
        </div>
        <li class="nav-item form-inline my-2 my-lg-0" id="search">
<!--                
            <a class="nav-link text-light" routerLinkActive="router-link-active" [routerLink]= "view-Profile" routerLinkActive="router-link-active" asp-area=""asp-control="seller landing page"> view-Profile</a></li>
        <li class="nav-item form-inline my-2 my-lg-0" id="logout">
            <button style="border-color:white;color: white;" class="btn btn-outline-default my-2 my-sm-0" type="submit">Logout</button>

        </li> -->
  
    </div>
  </nav>
  <router-outlet></router-outlet>
  
 