.btn111{
background-color: rgb(20, 161, 7);
color:white;
height: 50px;
font-size: larger;
}
.container
{
    background-color: rgb(113, 119, 116);
    color: white;
    width: 500px;
    height:500px;
}
.bg{
    background-image: url("E:\Final-Project-Anusha-845143\EmartCaseStudyUI\src\assets\images\img1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
}
.grad{
   
     background-image: linear-gradient(to right,black,brown,orange,yellow,green,blue,indigo);
  
 }
 a{
     color: black;
     font-size: larger;
     align-content: center;
     
     
 }
