<h1 class="grad">
    <img   class="img" src="assets/images/emart.png">
   </h1>
<div class="jumborton">
    <div class="container">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>UserName</label>
            <input type="text"  formControlName="sellerUsername" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellerUsername.errors }" />
            <div *ngIf="submitted && f.sellerUsername.errors" class="invalid-feedback">
                <div *ngIf="f.sellerUsername.errors.required">User Name is required</div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="sellerPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellerPassword.errors }" />
            <div *ngIf="submitted && f.sellerPassword.errors" class="invalid-feedback">
                <div *ngIf="f.sellerPassword.errors.required">Password is required</div>
            </div>
        </div><br/>
        <div class="form-group">
            <label>Company Name</label>
            <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
            <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                <div *ngIf="f.companyName.errors.required">CompanyName is required</div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label>GSTIN</label>
            <input type="text" formControlName="gstin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gstin.errors }" />
            <div *ngIf="submitted && f.gstin.errors" class="invalid-feedback">
                <div *ngIf="f.gstin.errors.required">GSTIN is required</div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label>Brief About Company</label>
            <input type="text" formControlName="briefAboutCompany" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.briefAboutCompany.errors }" />
            <div *ngIf="submitted && f.briefAboutCompany.errors" class="invalid-feedback">
                <div *ngIf="f.briefAboutCompany.errors.required">Company description is required</div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label>Postal Address</label>
            <input type="text" formControlName="postalAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postalAddress.errors }" />
            <div *ngIf="submitted && f.postalAddress.errors" class="invalid-feedback">
                <div *ngIf="f.postalAddress.errors.required">Postal Address is required</div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label>Website</label>
            <input type="text" formControlName="website" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.website.errors }" />
            <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                <div *ngIf="f.website.errors.required">Website is required</div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label>Email Id</label>
            <input type="email" formControlName="sellerEmailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellerEmailid.errors }" />
            <div *ngIf="submitted && f.sellerEmailid.errors" class="invalid-feedback">
                <div *ngIf="f.sellerEmailid.errors.required">Email Id is required</div>
            </div>
        </div><br/>
        <div class="form-group">
            <label>Contact number</label>
            <input type="text" formControlName="sellerContactnumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellerContactnumber.errors }" />
            <div *ngIf="submitted && f.sellerContactnumber.errors" class="invalid-feedback">
                <div *ngIf="f.sellerContactnumber.errors.required">Mobile Number is required</div>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <button class="btn btn-primary mr-1" (click)="onSubmit()">Register</button>
            &nbsp;
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
        </div>
      </form>
    </div>
</div>
{{errormessage}}
<router-outlet></router-outlet>



